In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [7]:
df = pd.DataFrame(randn(6,2),hier_index, ['A','B'])

In [8]:
df

             A         B
G1 1  0.942614 -0.287078
   2 -1.174777 -0.128497
   3 -0.412429 -1.151642
G2 1  0.073735  1.574566
   2 -0.815838 -0.157867
   3 -1.694031  1.084081

In [9]:
df.loc['G1']

          A         B
1  0.942614 -0.287078
2 -1.174777 -0.128497
3 -0.412429 -1.151642

In [10]:
df.loc['G1'].loc[1]

A    0.942614
B   -0.287078
Name: 1, dtype: float64

In [11]:
df.loc['G1'].loc[[1,2],['A']]

          A
1  0.942614
2 -1.174777

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names = ['Groups','Num']

In [14]:
df

                   A         B
Groups Num
G1     1    0.942614 -0.287078
       2   -1.174777 -0.128497
       3   -0.412429 -1.151642
G2     1    0.073735  1.574566
       2   -0.815838 -0.157867
       3   -1.694031  1.084081

In [15]:
df.loc['G2'].loc[[2],['B']]

            B
Num
2   -0.157867

In [16]:
df.loc['G2'].loc[2]['B']

-0.15786655150572743

In [17]:
df.loc['G2'].loc[2,'B']

-0.15786655150572743

In [19]:
df.loc['G1']

            A         B
Num
1    0.942614 -0.287078
2   -1.174777 -0.128497
3   -0.412429 -1.151642

In [20]:
df.xs('G1')

            A         B
Num
1    0.942614 -0.287078
2   -1.174777 -0.128497
3   -0.412429 -1.151642

In [21]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.942614 -0.287078
G2      0.073735  1.574566